/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2017, 11:57:07 AM
    Author     : mattpeternell
*/
.archive.post-type-archive-metal_finishes, .archive.post-type-archive-hd_glass_types, .archive.post-type-archive-glass_types, .archive.post-type-archive-handles, .post-type-archive-glass_treatments {
    .content-area {
        background-color: $white;
    }
    .page-header {
        height: 350px;
    }
    .page-title {
        padding-top: 12rem;
    }
    .search-list {
        margin-bottom: 60px;
    }
}

.archive {
    &.post-type-archive-barn_doors {
        .page-header {
            background-image: url('/wp-content/themes/holcam-theme/assets/images/ECBTE-1400x500-75shade-softlight.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            @media (min-width: 1281px){
                background-position-y: 130px;
            }
            @media (max-width: 1280px){
                background-position-y: 80px;
            }
            @media (max-width: 480px){
                background-position-x: -340px;
            }
        }
        .page-title {
            //padding-top: 4rem;
            text-shadow: 1px 1px 10px #000;
        }
        .post-description {
            text-shadow: 1px 1px 10px #000;
        }
    }
    &.post-type-archive-sliding_doors {
        .page-header {
            background-image: url('/wp-content/themes/holcam-theme/assets/images/FSEorBSE-4265-1400x500-50op-softlight.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .page-title {
            //padding-top: 4rem;
            text-shadow: 1px 1px 10px #000;
        }
        .post-description {
            text-shadow: 1px 1px 10px #000;
        }
    }
    &.post-type-archive-swing_doors {
        .page-header {
            background-image: url('/wp-content/themes/holcam-theme/assets/images/HG102307_0005-sd-1400x500-250softlight.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .page-title {
            //padding-top: 4rem;
            text-shadow: 1px 1px 10px #000;
        }
        .post-description {
            text-shadow: 1px 1px 10px #000;
        }
    }

}

.search-no-results .board-list {
    min-height: 100vh;
    padding-top: 80px;
    .form-group {
        float: left;
        width: 50%;
    }
    .btn {
        margin-left: 1em;
    }
}


.search {
    .site-content {
        background-color: #fff;
    }
    .page-header {
        background-color: $gun-metal;
        height: rem(275px);
        .page-title {
            font-size: rem(40px);
            position: absolute;
            top: 165px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 980px;
            width: 100%;
            color: #fff;
            line-height: 1;
            margin: 0;
        }
    }
    .board_members {
        overflow: auto;
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.search-list {
    &.top {
        padding-top: 3rem;
        padding-bottom: 0;
    }
    &.bot {
        padding-top: rem(100px);
        padding-bottom: rem(160px);
    }
    .search-list-item {
        &.products {
            .entry-title {
                font-size: 1.20rem;
            }
            .beers.draught {
                font-size: 0.95em;
            }
        }
    }
    .wp-post-image {
        width: 100%;
        max-width:480px;
        border: 6px solid $smoke;
        display: inline;
        vertical-align: bottom;
    }
    .entry-summary {
        font-size: 0.85em;
        b, strong {
            font-weight: 400;
        }
    }

    .entry-title {
        color: #0D0A0B;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem;
    }
    .single-subtitle {
        color: #0D0A0B;
        font-size: 1rem;
        line-height: 1.75rem;
        margin-bottom: 0;
    }
    .part-number {
        margin-bottom: 1rem;
        color: #0D0A0B;
    }     
    .board-member-job-title {
        font-size: 22px;
        line-height: 32px;
        margin-top: rem(10px);
        margin-bottom: rem(26px);
    }
    .column-4 {
        @media (max-width: $xs-small-screen) {
            margin-bottom: rem(32px);
        }
    }
}

.archive {
    .hfeed.site {
        background-color: #565759;
    }
    .page-header {
        &.gun-metal {
            background-color: $gun-metal;
            position: relative;
            .page-title {
                top: 325px;
            }
        }
        background-color:$gun-metal;
        //height: 24.75em;
        @media (max-width:  $xs-small-screen) {
            // height: rem(680px);
        }
        .page-header-content {
            max-width: 980px;
            width: 100%;
            margin: 0 auto;
            padding-top: 12em;
            padding-bottom: 4em;
            width: 100%;
            color: #fff;
            @media (max-width:  $xs-small-screen) {
                max-width: 320px;
                top: 90px;
            }
            width: 100%;
            color: #fff;
        }
        .page-title {
            color: #fff;
            line-height: rem(50px);
            margin: 0 0 rem(32px);
            text-transform: capitalize;
        }
    }
    .board-list {
        padding-top: rem(100px);
        padding-bottom: rem(160px);
        .wp-post-image {
            width: 100%;
            max-width: 200px;
            border-radius: 100%;
            border: 6px solid $smoke;
            display: inline;
            vertical-align: bottom;
        }
        .entry-title {
            margin: 0;
        }
        .board-member-job-title {
            font-size: 22px;
            line-height: 32px;
            margin-top: rem(10px);
            margin-bottom: rem(26px);
        }
    }
    .board_members {
        overflow: auto;
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.archive {
    .blog-tile-200 {
        width: 200px;
        height: 450px;
        float: left;
        margin: 0px 2rem 2rem 0;
        background-color: $holcam-black;
        border: 2px solid $aluminium;
        .blog-image {

            a {

                img {
                    max-width: 175px;
                    display: block;
                    vertical-align: bottom;
                    margin: rem(10px) auto;
                }
            }
        }
    }
}

.error404 {
    .my-error-404 {
        padding-top: 20vh;
    }
    .site-content {
        height: 100vh;
    }
    .hfeed.site {
        background-color: #565759;
    }
    .site-content {
        background-color: #fff;
        height: 100vh;
    }
}