/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2017, 3:10:31 PM
    Author     : mattpeternell
*/
.page-template-contact-template {
    .contact-page-intro {
        background-color: $white;
    }
}

.contact-page-intro {
    h2 {
        color: $forest;
        margin: 75px;
    }
}

.page-template-contact-template {
    .flex-content {
        .entry-content {
            color: $white;
            @media (max-width: $medium-screen) {
                 text-align: center;
            }
            a {
                color: #fff;
                &:hover {
                    color: darken(#fff, 25%);
                }
            }
        }
        address {
            color: $white;
            font-weight: 300;
            font-size: rem(18px);
            line-height: rem(24px);
            margin-bottom: 1.5rem;
            font-style: normal;
        }
    }
}

.my-recaptch div {
    margin: 2rem auto;
}