footer {
    &.site-footer {
        background-color: $holcam-black;
    }
    .row {
        margin-bottom: 0;
    }
    .site-info {
        text-align: center;  
        @media (min-width:  $medium-screen + 1) {
            padding: 1.875em 1.5em;
        }
        @media (max-width:  $medium-screen) {
            padding: 1.875em 1.5em;
        }
        @include outer-container($inner-max-width-xxl);
    }
    .menu-main-nav-container {

    }

    .footer-menu {
        list-style: none;
        @media (min-width: $small-screen + 0.05) {
            margin: 0px auto;
        }
        @media (max-width: $small-screen) {
            max-width: 200px;
            margin: 0px auto;
        }
        padding: 0;
        display: table;
        li {
            &:first-child::before {
                content: "";
            }
            @media (min-width: $medium-screen + 0.05) {
                display: inline-block;
                width: 100%;
                text-align: left;
            }
            @media (max-width: $medium-screen ) {
                /*                display: block;
                                float: left;*/
            }
            @media (max-width: $small-screen) {

            }

            position: relative;
            a {
                padding: 0 1em;
                font-size: em(15px);
                line-height: 42px;
                text-transform: uppercase;
                letter-spacing: 1px;
                display: block;
                color: $white;
                font-weight:300;
                &:hover {
                    color: $holcam-yellow;
                }
            }
        }
        li.current_page_item > a {
            /*            color: #565759;
                        font-weight: 400;*/
        }
    }

    .copyright {
        font-size: em(12px);
        color: #ccc;
        background-color: $holcam-black;
        width: 100%;
        text-align: center;
        .copyright-inner {
            padding:0.5rem;
            margin-left: auto;
            margin-right: auto;
            max-width: 87.5rem;
        }
    }
}

.site-footer {
    @media (max-width: $medium-screen) {
        .column-3 {
            @include span-columns(6);
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    @media (max-width: $small-screen) {
        .column-3 {
            @include span-columns(12);
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

.social-links-list {
    text-align: center;
    .social-link-item {
        display: inline-block;
        margin-right: 0.75rem;
        &:last-child { margin-right: 0;}
        a { 
            display: block;
            background-color: $social-icon-color;
            border-radius: 100%;
            color: #fff;
            font-size: 20px;
            line-height: 42px;
            list-style: outside none none;
            text-align: center;
            transition: background-color 0.5s ease 0s;
            width: 40px;
            height: 40px;
            &:hover {
                background-color: lighten($social-icon-color, 25%);
                color: #fff;
                opacity: 1;
                transition: color 0.5s ease 0s;
            }
        }
    }

}