.home {
    .collections {
        background-color: #fff;
        @media (min-width:  $medium-screen + 0.05) {
            padding-top: 6.25rem;
            padding-bottom: 0;
        }
        @media (max-width:  $medium-screen) {
            padding-top: 4.25rem;
            padding-bottom: 0;
        }
        .section-header {
            color: $holcam-black;
            font-size: em(32px);
            margin-bottom:2rem;
        }
        .featured-icon {
            max-width: 150px;
            width: 100%;
            @media (min-width:  $medium-screen + 0.05) {
                margin: 0 auto 0.5em;     
            }
            @media (max-width:  $medium-screen) {
                margin: 0 auto 0.5em; 
            }
            > img {
                vertical-align: middle;
                max-width: 150px;
                text-align: center;
                margin: 0px auto;
                @media (max-width: $xs-small-screen) {
                    width: 100px;
                    line-height: 100px;
                }
            }
        }
        .content-box-heading {
            color: $concrete;
            margin-bottom: rem(20px);
        }
        .content-container {
            p {
                font-size: 1.275em;
                line-height: rem(32px);
                margin: 0 auto;
                max-width: 285px;
            }

        }
        a.cs-link {
            font-size: em(22px);
            line-height: rem(52px);
            color: $honey;
            &:hover {
                color: darken($honey, 10%);
            }
            @media (max-width: $xs-small-screen) {
                font-size: em(18px);
                line-height: rem(26px);

            }
        }
        .column-4 {
            margin-bottom: 0;
            @media (min-width:  $medium-screen + 0.05) {
                margin-bottom: rem(60px);
                &:nth-child(3n){
                    margin-right: 0
                }
                &:nth-child(4n){
                    clear: both;
                }
            }
            @media (max-width:  $medium-screen) {
                margin-bottom: rem(60px);
                &:nth-child(2n){
                    margin-right: 0
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}