.new-product {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    background-color: $white;
    .section-header {
        color: $holcam-black;
        margin-bottom:4.500rem;
    }
}

.new-product {
    .entry-content {
        color: $holcam-black;
        h1,h2,h3,h4,h5,h5 {
            color: $holcam-black
        }
        p {
            color: $holcam-black;
        }
    }
}
