.screen {
    background-color: rgba(0, 0, 0, 0.50);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 8888;
}

.modalwindow {
    position:fixed;
    display:none; /* Hides the modal window by default */
    z-index:9999;
    @media(min-width: $xs-small-screen + 1){
        width:480px;
    }
    @media(max-width: $xs-small-screen){
        width:320px;
    }
    background: $white;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

    header {
        background-color: $white;
        color: #000;
        margin: 1rem 1rem 1rem;
        font-family: arial;
        text-align: left;
        h2 {
            margin: 0;
            font-size: 1.15rem;
        }
    }

    .content {
        margin: 0 1rem 1rem;
        color: $body-font-color;
        p {
            text-align: left;
        }
    }

    .close-btn {
        color: #000;
        display: block;
        font-weight: 700;
        padding: 1em;
        position: absolute;
        right: 0;
        text-align: center;
        text-decoration: none;
        top: 0;
        &:hover {
            color: #ccc;
        }
        .fa {
            font-size: 1.75em;
        }
    }

}