.sidebar {
    .widget {
        //background-color: #ccc;
        margin-bottom: 3em;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .wp-post-image {
        width: 100%;
        max-width: 480px;
        border: 6px solid #f3f3f3;
        display: inline;
        vertical-align: bottom;
    }

}

.column-4.offset-1.sidebar {
    @media (max-width: $medium-screen) {
        margin-left: 0;
    }
}