.single {
    .site-content {
        background-color: #fff;
        padding-top: 20vh;
    }
    h1.section-title + .lead {
        margin-top: -2em;
    }
    .lead + ul.product-slides {
        margin-top: 3em;
    }
}


.single-product-links {
    .sp-link-menu {
        display: table;
        text-align: center;
        margin:0 auto;
    }
    .sp-link-item {
        display: inline-block;
        width: 200px;
        margin-right: 32px;
        @media (max-width: $large-screen) {
            margin-bottom: 2rem;
        }
        @media (max-width: $xs-small-screen) {
            margin-right: 0;
        }
        text-align: center;
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
        a {
            background-color: $gun-metal;
            border: 2px solid $aluminium;
            color: $white;
            display: block;
            padding: 1em 1.5em;
            &:hover {
                background-color: lighten($gun-metal, 10%);
                color: darken($white, 10%);
                transition: background-color $base-duration $base-timing;
            }
        }
    }
}

.page-template-default, .page-template-page-templates {
    .breadcrumb-nav {
        padding-top: 1rem;
    }
    @media (min-width: $medium-screen) {
        .column-7 {
            padding-right: 2rem;
        }
    }
}

.page-template-default, .single-swing_doors, .single-sliding_doors,  .single-barn_doors, .page-template-resources, .page-template-page-templates {
    .section-title {
        color: $holcam-black;
        margin-bottom: 2.5rem;
        text-align: center;
    }
    .site-content {
        padding-top: 10.9375em;
        @media (max-width:  $xs-small-screen) {
            padding-top: 5rem;
        }
        background-color: $white;
    }
    .single-team-post {
        margin-bottom: em(80px);
    }

    .team_category-advisor, .type-board_members {
        .single-hero {
            background-color: $aluminium; 
        }
    }
    .team_category-ceo {
        .single-hero {
            background-color: $seafoam;  
        }
    }
    .team_category-team {
        .single-hero {
            background-color: $seafoam;  
        }
    }
    .single-title {
        color: $holcam-black;
        font-size:rem(32px);
        font-weight: 400;
        line-height: rem(32px);
    }
    .single-subtitle {
        color: $holcam-black;
        font-size:rem(24px);
        line-height: 1.75rem;
    }
    .single-header {
        margin-bottom: 2rem;
    }
    .part-number {
        color: #0D0A0B;
    }
    .single-hero {
        position: relative;
        height: rem(460px);
        .single-caption {
            position: absolute;
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 80%;
            width: 100%;
        }
        .single-title, .single-subtitle {
            color: $white;
            text-align: center;
        }

        .single-team-img {
            text-align: center;
            img {
                width: 100%;
                max-width: 200px;
                border-radius: 100%;
                border: 6px solid $smoke;
                display: inline;
                vertical-align: bottom;

            }
        }
    }
}

.more-prod-title {
    text-align: center;
    margin-bottom: 3rem;
}

.product-slides {
    overflow: auto;
    /*   display: table;
       text-align: center;*/

    .slide {
        @include span-columns(2);
        @include omega(6n);
        @media (max-width: $small-screen) {
            @include span-columns(4);
            @include omega(3n);
        }
        margin-bottom: 2rem;
        .prod-title {
            font-size: rem(14px);
        }
    }
    .slide.glass, .slide.metal, .slide.handles {
        a {
            border: 1px solid #ccc;
            display: block;
            &:hover {
                border: 1px solid #000; 
            }
        }
    }
    .slide.treatments {
        @include span-columns(12);
        @include omega(1n);
        @media (max-width: $small-screen) {
            @include span-columns(12);
            @include omega();
        }
        margin-bottom: 2rem;
        img {
            max-width: 280px;
            height: auto;
            margin: 0 auto 0.50rem;
        }
        h3 {
            font-size: 1.5rem;
            margin-bottom: 0.50rem;
        }
        p {
            margin-bottom: 0;
        }
    }
}

.single-team-nav {
    margin-bottom: em(30px);
}

.single-point_of_view {
    .single-pov-post {
        margin-bottom: em(160px);
        margin-top: em(100px);
    }
    .site-content {
        background-color: $white;
    }

    .single-hero {
        position: relative;
        height: rem(460px);
        background-color: $ocean;
        .single-caption {
            position: absolute;
            top: 195px;
            @media (max-width: 47.994em) {
                top: 90px;
            }
            left: 50%;
            transform: translateX(-50%);
            max-width: 68%;
            width: 100%;
        }
        .single-title, .single-subtitle {
            color: $white;
            text-align: center;
        }
        .single-title {
            font-size: 30px;
            font-weight: 300;
            line-height: 42px;

        }
        .single-subtitle {
            font-size:rem(16px);
            margin-bottom: 2rem;
            margin-top: 1rem;
            .author {
                display: block;
                line-height: 22px;
            }
        }
        .pov-date {
            margin-left: 1rem;
        }
    }
    .featured-img {
        margin-bottom: em(80px);
    }
}