.sidebar {
    .widget > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .widget-area .widget {
        margin-bottom: 4rem;
    }
}

.footer-widget {
    .widget {
        min-height: 8rem;
        margin-bottom: 3rem;
        color: #e5e5e5;
        .footer-nav, .menu-item, p {
            a {
                padding: 0 1em;
                font-size: em(16px);
                line-height: 42px;
                letter-spacing: 1px;
                display: block;
                color: #b2b2b2;
                font-weight:300;
                &:hover {
                    color: $holcam-yellow;
                }
            }
        }

    }
    .widgettitle {
        font-size: 1.25em;
        line-height: 25px;
        color: #cccccc;
        margin-bottom: 1.25rem;
    }
}