#{$all-buttons} {
    appearance: none;
    background-color: $global-button-bground-color;
    border: 1px solid #a0a3aa;
    border-radius: $base-border-radius;
    color: $global-button-font-color;
    cursor: pointer;
    display: inline-block;
    font-family: $button-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1;
    padding: 0.625rem 2rem;
    text-decoration: none;
    transition: background-color $base-duration $base-timing;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
        &:focus {
        background-color: darken($concrete, 20%);
        color: #fff;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: $action-color;
        }
    }
}


.btn-group {
    &.edit-post {
        text-align: center;
    }
}

a.post-edit-link {
    text-align: center;
    min-width: inherit;
    border-radius: 0;
    @include text_link_hover($eggplant, 500, $button-font-family);
    .fa {
        margin-left: 5px;
    }
}

.btn {
    &.btn-white {
        background-color: #fff;
        color: #4591a3;
        &:hover {
            background-color: darken(#fff, 20%);
        }
    }
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: $base-border-radius;
    cursor: pointer;
    display: inline-block;
    font-family: $button-font-family;
    font-size: em(16px);
    font-weight: 300;
    line-height: 1.42857;
    margin-bottom: 0;
    min-width: 200px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: thin dotted;
    outline-offset: -2px;
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
.btn:hover, .btn:focus, .btn.focus {
    color: $white;
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: thin dotted;
    outline-offset: -2px;
}


.btn-primary {
    background-color: $white;
    border-color: $aluminium;
    color: $concrete;
    font-weight: 600;
    transition: background-color $base-duration $base-timing;
    &:hover {
        background-color: darken($concrete, 20%);
        border-color: darken($concrete, 25%);
        color: $white;
        transition: background-color $base-duration $base-timing;
    }
    &:active {
        background-image: none;
        background-color: darken($concrete, 20%);
        border-color: lighten($concrete, 25%);
        color: $white;
    }
    &:focus {
        background-color: darken($concrete, 25%);
        border-color: lighten($concrete, 30%);
        color: $white;
    }
}


a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
a:hover, a:focus {
    color: #528326;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0 none;
}



.btn-lg, .btn-group-lg > .btn {
    border-radius: 0;
    font-size: 16px;
    line-height: 1.33333;
    padding: 0.625rem 2rem;
}