$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$navigation-padding: 1em;
$navigation-background: $white;
$navigation-color: $concrete;
$navigation-color-hover: darken($concrete, $global-dark-hover-color);
$navigation-height: 60px;
$navigation-text-transform: uppercase;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: lighten($navigation-background, $global-lite-hover-color);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, $global-lite-hover-color);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;

header.navigation {
    border: none;
    border-width: 0 0 4px;
    width: 100%;

    .navigation-wrapper {
        @include clearfix;
        position: relative;
        z-index: 9999;
        max-width: $inner-max-width-xxl;
        margin: 0px auto;
        padding: 0 2em;
        @media (max-width: $medium-screen) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    .logo {
        float: left;
        //display: block;
        @include media ($horizontal-bar-mode) {

        }
        img {
            vertical-align: middle;
        }
    }

    // Mobile view

    .navigation-menu-button {
        color: $navigation-color;
        display: block;
        float: right;
        line-height: $navigation-height;
        margin: 0;
        @include media ($horizontal-bar-mode) {
            padding-right: 1em;
        }
        text-decoration: none;
        text-transform: $navigation-text-transform;

        @include media ($horizontal-bar-mode) {
            display: none;
        }

        &:focus,
            &:hover {
            color: $navigation-color-hover;
        }
    }

    // Nav menu

    nav {
        @media (max-width: $medium-screen) {
            clear: both;
            margin: 0 -1.5em;
        }

        @include media ($horizontal-bar-mode) {
            float: right;
            //min-height: $navigation-height;
            z-index: 9999999;
        }
    }

    ul.navigation-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 9999;

        &.show {
            display: block;
            border-top: 4px solid $eggplant;
        }

        @include media ($horizontal-bar-mode) {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    ul li.menu-item.current_page_item > a {
        font-weight: 600;
        color: $navigation-color;
    }

    // The nav items

    ul li.nav-link, ul li.menu-item {
        background: $aluminium;
        display: block;
        line-height: $navigation-height/1.5;
        overflow: hidden;
        @media (max-width: $medium-screen) {
            padding-left: 1.5em;
        }
        text-align: left;
        width: 100%;
        z-index: 9999;
        border-bottom: 2px solid $white;
        @include media ($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            line-height: $navigation-height;
            text-decoration: none;
            width: auto;
            border-bottom: none;
            padding-left: 1em;
            padding-right: 1em;
        }
        &:last-child {
            border: none;
        }
        a {
            text-transform: $navigation-text-transform;
            @include media ($horizontal-bar-mode) {

            }
            display: inline-block;
            text-decoration: none;
            font-size: em(15px);
            &:focus,
                &:hover {
                color: $navigation-color-hover;
            }
        }
    }


    .active-nav-item a {
        border-bottom: 1px solid $navigation-active-link-color;
        padding-bottom: 3px;
    }

    // Sub menus

    li.more.nav-link {
        padding-right: 0;

        @include media($horizontal-bar-mode) {
            padding-right: $navigation-submenu-padding;
        }

        > ul > li:first-child a  {
            padding-top: 1em;
        }

        a {
            margin-right: $navigation-submenu-padding;
        }

        > a {
            padding-right: 0.6em;
        }

        > a::after {
            @include position(absolute, auto -0.4em auto auto);
            color: $navigation-color;
            content: "\25BE";
        }
    }

    li.more {
        overflow: visible;
        padding-right: 0;

        a {
            padding-right: 0.8em;
        }

        > a {
            padding-right: 1.6em;
            position: relative;

            @include media($horizontal-bar-mode) {
                margin-right: $navigation-submenu-padding;
            }

            &::after {
                content: "›";
                font-size: 1.2em;
                position: absolute;
                right: $navigation-submenu-padding / 2;
            }
        }

        &:focus > .submenu,
            &:hover > .submenu {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            padding-right: 0.8em;
            position: relative;
        }
    }

    ul.submenu {
        display: none;
        padding-left: 0;

        @include media($horizontal-bar-mode) {
            left: -$navigation-submenu-padding;
            position: absolute;
            top: 1.5em;
        }

        .submenu.fly-out-right {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        .submenu.fly-out-left {
            @include media($horizontal-bar-mode) {
                left: -$navigation-submenu-width + 0.2em;
                top: 0;
            }
        }

        .submenu {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        li {
            display: block;
            padding-right: 0;

            @include media($horizontal-bar-mode) {
                line-height: $navigation-height / 1.3;

                &:first-child > a {
                    border-top-left-radius: $base-border-radius;
                    border-top-right-radius: $base-border-radius;
                }

                &:last-child > a {
                    border-bottom-left-radius: $base-border-radius;
                    border-bottom-right-radius: $base-border-radius;
                    padding-bottom: 0.7em;
                }
            }

            a {
                background-color: darken($navigation-background, 3%);
                display: inline-block;
                text-align: right;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    background-color: $navigation-background;
                    padding-left: $navigation-submenu-padding;
                    text-align: left;
                    width: $navigation-submenu-width;
                }
            }
        }
    }

    // Elements on the far right

    .navigation-tools {
        background: #505050;
        clear: both;
        display: block;
        height: $navigation-height;

        @include media($horizontal-bar-mode) {
            background: transparent;
            clear: none;
            float: right;
        }
    }

    // Search bar

    .search-bar {
        $search-bar-border-color: $base-border-color;
        $search-bar-border: 1px solid $search-bar-border-color;
        $search-bar-background: lighten($search-bar-border-color, $global-lite-hover-color);

        float: left;
        padding: 0.85em 0.85em 0.7em 0.6em;
        width: 60%;

        form {
            position: relative;

            input[type=search] {
                background: $navigation-search-background;
                border: $navigation-search-border;
                border-radius: $base-border-radius * 2;
                box-sizing: border-box;
                color: $navigation-color;
                font-size: 0.9em;
                font-style: italic;
                margin: 0;
                padding: 0.5em 0.8em;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    width: 100%;
                }
            }

            button[type=submit] {
                background: $navigation-search-background;
                border: 0;
                bottom: 0.3em;
                left: auto;
                outline: none;
                padding: 0 9px;
                position: absolute;
                right: 0.3em;
                top: 0.3em;

                img {
                    height: 12px;
                    opacity: 0.7;
                    padding: 1px;
                }
            }
        }

        @include media($horizontal-bar-mode) {
            display: inline-block;
            position: relative;
            width: 16em;

            input {
                box-sizing: border-box;
                display: block;
            }
        }
    }
}

/*.admin-bar header.navigation.banner {
    top: 30px;
}*/

.navigation.banner {
    position: absolute;
    right: 0; 
    left: 0; 
    top: 0; 
    z-index: 5555;
    nav {
        @media (min-width: $medium-screen + 1) {
            min-height: $navigation-height * 2;
        }
        @media (max-width: $medium-screen) {
            min-height: 0;
        }

    }
    .navigation-menu {
        .menu-item a {
            color: $white;
            margin-top: $navigation-height /2;
            margin-bottom: $navigation-height /2; 
        }
    }
    .logo {
        line-height: $navigation-height;
        display: inline-block;
        line-height: 120px;
        @media (min-width: $small-screen + 1) {
            max-width: 400px;
        }
        @media (max-width: $small-screen) {
            max-width: 275px;
        }
    }
    .navigation-menu-button {
        line-height: 120px !important;
    }
    .sm-logo {
        display: none;
    }
    .md-logo {
        display: inline-block;
    }
}


/*----------------------------------------------------------------------------*\
  Headhesive Specific Styles
/*----------------------------------------------------------------------------*/

/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     clone: 'banner--clone';
 *   }
 * }
 */



header.navigation.banner--clone {
    position: fixed;
    z-index: 8888;
    top: -$navigation-height;
    left: 0;
    min-height: $navigation-height;
    background-color: $navigation-background;
    nav {
        @media (min-width: $medium-screen + 1) {
            min-height: $navigation-height;
        }
        @media (max-width: $medium-screen) {
            min-height: 0;
        }

    }
    .navigation-menu {
        .menu-item a {
            color: $aluminium;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 0; 
        }
    }
    .logo {
        line-height: $navigation-height;
        @media (min-width: $small-screen + 1) {
            max-width: 325px;
        }
        @media (max-width: $small-screen) {
            max-width: 250px;
        }
    }
    .md-logo {
        display: none;
    }
    .sm-logo {
        display: inline-block;
    }
}


/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
/*.admin-bar .navigation.banner--stick {
    top: 30px;
}*/
.admin-bar header.navigation.banner--stick {
    top: 30px;
    -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
    -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
    transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
}
header.navigation.banner--stick {
    top: 0;
    -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
    -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
    transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
}


/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     unstick: 'banner--unstick';
 *   }
 * }
 */
.banner--unstick {
    /* Not required to use, but could be useful to have */
     display: none;
}