.home {
    .case-studies {
        @media (min-width:  $medium-screen + 1) {
            @include padding($global-section-padding * 2 null $global-section-padding * 2.4 null);
        }
        @media (max-width:  $medium-screen) {
            @include padding($global-section-padding * 1.2 null $global-section-padding * 2 null);
        }
        .featured-icon {
            @media (min-width:  $medium-screen + 1) {
                margin-bottom: $global-section-padding;
            }
            @media (max-width:  $medium-screen) {
                margin-bottom: $global-section-padding * 0.8;
            }
            > img {
                vertical-align: middle;
            }
        }
        .content-box-heading {
            color: $concrete;
            font-size: em(32px);
            margin-bottom: $global-section-padding/1.66;
        }
        .content-container {
            margin-bottom: $global-section-padding/4;
            p {
                font-size: em(22px);
                line-height: rem(32px);
                margin: 0 auto;
                max-width: 275px;
            }

        }
        a.cs-link {
                font-size: em(22px);
                line-height: rem(100px);
            }
        .column-4 {
            @media (max-width:  $medium-screen) {
                margin-bottom: $global-section-padding * 1.2;
            }
        }
    }
}