.contact-cta {
    @media (min-width:  $medium-screen + 1) {
        @include padding($global-section-padding * 1.6 null $global-section-padding * 2 null);
    }
    @media (max-width:  $medium-screen) {
        @include padding($global-section-padding * 1.2 null $global-section-padding * 1.2 null);
    }
}