.partners {
    @include padding($global-section-padding *1.6 null $global-section-padding * 1.6 null);
    .section-header {
        color: $white;
        margin-bottom: $global-section-padding/1.25;
    }
}

.partners {
    .icon-list {
        margin: 0;
        padding: 0;
        > li {
            list-style: none;
            text-align: center;
            display: inline-block;
            @media (max-width: ($small-screen + 1)) {
                margin: 0 10px 0px;
            }
            @media (min-width: $small-screen) {
                margin: 0 15px 0px;
            }
        } 
        a:hover {
            opacity: 0.5;
            transition: opacity $base-duration $base-timing;
        }
        img {
            vertical-align: middle;
        }
    }
}
