/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 5:49:11 PM
    Author     : mattpeternell
*/

.flex-content {

    @media (min-width:  $medium-screen + 1) {
        @include padding($global-section-padding *2 null $global-section-padding * 2.5 null);
    }
    @media (max-width:  $medium-screen) {
        @include padding($global-section-padding * 1.2 null $global-section-padding * 1.2 null);
    }
}

.wysiwyg-row {
    @include padding(null null $global-section-padding *2 null);
    @media (min-width:  $medium-screen + 1) {
        @include padding(null null $global-section-padding * 2 null);
    }
    @media (max-width:  $medium-screen) {
        @include padding(null null 0 null);
    }
    &:last-child {
        padding-bottom: 0;
    }
}