.entry-content {
    > h2 {
        margin-bottom: $global-section-padding * 1.2;
    }
    > p:last-child {
        margin-bottom: 0;
    }
/*    > h1 {
        color: $tangerine;
    } 
    > h2 {
        color: $midnight;
    }
    > h3 {
        color: $tangerine;
        margin-bottom: 22px;
        margin-top: 40px;
    }
    > h4 {
        color: $rooster_grey_dark;
        margin-top: 40px;
    }
    > h5 {
        color: $rooster_grey_dark;
    }
    a {
        font-weight: 400;
    }*/
}

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote {
    &.alignleft {
        margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
    }
    &.aligncenter {
        margin-bottom: 1.473684211em;
    }
    &.alignright {
        margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
    }
    p, footer {
        color: #777;
        font-weight: 500;
    }
}

/**
 * 12.1 - Captions
 */

.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
        width: 100% !important
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}

.wp-caption .wp-caption-text {
	color: $aluminium;
	font-size: 1em;
	font-size: 0.875em;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
        text-align: center;
}
