@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2016, 8:47:48 AM
    Author     : mattpeternell
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #a0a3aa;
  border-radius: 20px;
  color: #363738;
  cursor: pointer;
  display: inline-block;
  font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1;
  padding: 0.625rem 2rem;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #242425;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #6a52a3; }

.btn-group.edit-post {
  text-align: center; }

a.post-edit-link {
  text-align: center;
  min-width: inherit;
  border-radius: 0;
  color: #6a52a3;
  font-weight: 500;
  font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif; }
  a.post-edit-link:hover {
    color: #b1a4d1; }
  a.post-edit-link .fa {
    margin-left: 5px; }

.btn.btn-white {
  background-color: #fff;
  color: #4591a3; }
  .btn.btn-white:hover {
    background-color: #cccccc; }

.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.42857;
  margin-bottom: 0;
  min-width: 200px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: thin dotted;
  outline-offset: -2px; }

.btn:active, .btn.active {
  background-image: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  outline: 0 none; }

.btn:hover, .btn:focus, .btn.focus {
  color: #ffffff;
  text-decoration: none; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: thin dotted;
  outline-offset: -2px; }

.btn-primary {
  background-color: #ffffff;
  border-color: #797b7f;
  color: #565759;
  font-weight: 600;
  transition: background-color 150ms ease; }
  .btn-primary:hover {
    background-color: #242425;
    border-color: #171818;
    color: #ffffff;
    transition: background-color 150ms ease; }
  .btn-primary:active {
    background-image: none;
    background-color: #242425;
    border-color: #959799;
    color: #ffffff; }
  .btn-primary:focus {
    background-color: #171818;
    border-color: #a2a3a6;
    color: #ffffff; }

a:focus {
  outline: thin dotted;
  outline-offset: -2px; }

a:hover, a:focus {
  color: #528326;
  text-decoration: underline; }

a:active, a:hover {
  outline: 0 none; }

.btn-lg, .btn-group-lg > .btn {
  border-radius: 0;
  font-size: 16px;
  line-height: 1.33333;
  padding: 0.625rem 2rem; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5em; }

input,
select,
textarea {
  display: block;
  font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #f7f7f7; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.66667em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #6a52a3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(95, 73, 146, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.5em; }

[type="file"] {
  margin-bottom: 1em;
  width: 100%; }

select {
  margin-bottom: 1em;
  max-width: 100%;
  width: auto; }

.form-group {
  margin-bottom: 1em;
  overflow: auto; }

::-webkit-input-placeholder {
  color: #363738;
  font-weight: 400;
  font-family: "Roboto Slab", Arial, serif; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #363738;
  font-weight: 400;
  font-family: "Roboto Slab", Arial, serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #363738;
  font-weight: 400;
  font-family: "Roboto Slab", Arial, serif; }

:-ms-input-placeholder {
  color: #363738;
  font-weight: 400;
  font-family: "Roboto Slab", Arial, serif; }

/**** WP Plugin wpcf7-form-control g-recaptcha ***/
.entry-content .wpcf7 {
  margin: 0 auto;
  max-width: 480px;
  width: 100%; }

.wpcf7-form-control.wpcf7-submit {
  display: block;
  margin: 0 auto; }
.wpcf7-form-control .wpcf7-not-valid-tip {
  color: #f00;
  display: block;
  font-size: 0.75em; }
.wpcf7-form-control.wpcf7-not-valid {
  margin: 0; }

div#rpRecaptcha {
  margin-bottom: 1em; }
  div#rpRecaptcha > div {
    margin: 0px auto;
    width: 100%; }

/**** wpcf7-form-control ***/
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/*** Layout grid offset Styling **/
.offset-1 {
  margin-left: 8.5298%; }

.offset-2 {
  margin-left: 17.05961%; }

/*** Layout Styling **/
.col-fullbleed {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .col-fullbleed::after {
    clear: both;
    content: "";
    display: table; }

/*.hfeed.site {
    @media (min-width:  $small-screen + 1) {
        padding-top: 4em;
    }
    @media (max-width:  $small-screen) {
        padding-top: 4em;
    }
}*/
.page-template-default .hfeed.site {
  padding-top: 7.8125rem; }

.wysiwyg-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .wysiwyg-row::after {
    clear: both;
    content: "";
    display: table; }

.nested-coll-full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .nested-coll-full::after {
    clear: both;
    content: "";
    display: table; }

@media (min-width: 65em) {
  .hero .col-full {
    max-width: 120em;
    margin-left: auto;
    margin-right: auto; }
    .hero .col-full::after {
      clear: both;
      content: "";
      display: table; } }

@media (min-width: 65em) {
  .col-full {
    max-width: 87.5em;
    margin-left: auto;
    margin-right: auto; }
    .col-full::after {
      clear: both;
      content: "";
      display: table; } }
@media (min-width: 51em) and (max-width: 64em) {
  .col-full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .col-full::after {
      clear: both;
      content: "";
      display: table; } }
@media (max-width: 50em) {
  .col-full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .col-full::after {
      clear: both;
      content: "";
      display: table; } }

.column-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .column-2:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0; }
      .column-2:last-child {
        margin-right: 0; } }

.column-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .column-3:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0; }
      .column-3:last-child {
        margin-right: 0; } }

.column-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .column-4:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 3.75rem;
      margin-right: 0; }
      .column-4:last-child {
        margin-right: 0; } }

.blog-column-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-bottom: 2em; }
  .blog-column-6:last-child {
    margin-right: 0; }
  .blog-column-6:nth-child(2n) {
    margin-right: 0; }
  .blog-column-6:nth-child(2n+1) {
    clear: left; }
  @media (max-width: 50em) {
    .blog-column-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0; }
      .blog-column-6:last-child {
        margin-right: 0; } }

.column-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  /*    @media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
          @include span-columns(6);
          
      }
      @media (max-width: $small-screen) {
          @include span-columns(12);
          @include shift(0);
          @include omega();
          @include pad(0 1em 0);
      }*/ }
  .column-6:last-child {
    margin-right: 0; }

.column-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .column-7:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-7 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .column-7:last-child {
        margin-right: 0; } }

.column-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .column-8:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-8 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 3.75rem;
      margin-right: 0; }
      .column-8:last-child {
        margin-right: 0; } }

.column-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .column-9:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-9 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .column-9:last-child {
        margin-right: 0; } }

.column-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .column-10:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .column-10:last-child {
        margin-right: 0; } }

.column-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .column-12:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .column-12 {
      padding: 0 1em 0; } }

@media (min-width: 65em) {
  .archive .col-full {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto; }
    .archive .col-full::after {
      clear: both;
      content: "";
      display: table; } }
@media (max-width: 64em) {
  .archive .col-full {
    max-width: 61.25em;
    margin-left: auto;
    margin-right: auto; }
    .archive .col-full::after {
      clear: both;
      content: "";
      display: table; } }
@media (max-width: 50em) {
  .archive .col-full {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    .archive .col-full::after {
      clear: both;
      content: "";
      display: table; } }
@media (min-width: 65em) {
  .archive .column-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 8.5298%; }
    .archive .column-6:last-child {
      margin-right: 0; } }
@media (min-width: 51em) and (max-width: 64em) {
  .archive .column-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 8.5298%; }
    .archive .column-6:last-child {
      margin-right: 0; } }
@media (min-width: 31em) and (max-width: 50em) {
  .archive .column-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 4rem; }
    .archive .column-6:last-child {
      margin-right: 0; } }
@media (max-width: 31em) {
  .archive .column-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 4rem; }
    .archive .column-6:last-child {
      margin-right: 0; } }
.archive .column-6 article {
  margin-bottom: 3rem; }
@media (min-width: 65em) {
  .archive .column-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 8.5298%; }
    .archive .column-4:last-child {
      margin-right: 0; } }
@media (min-width: 51em) and (max-width: 64em) {
  .archive .column-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0; }
    .archive .column-4:last-child {
      margin-right: 0; } }
@media (min-width: 31em) and (max-width: 50em) {
  .archive .column-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0; }
    .archive .column-4:last-child {
      margin-right: 0; } }
@media (max-width: 31em) {
  .archive .column-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    padding: 0 1em 0; }
    .archive .column-4:last-child {
      margin-right: 0; } }

@media (min-width: 65em) {
  .single .col-full {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto; }
    .single .col-full::after {
      clear: both;
      content: "";
      display: table; } }
@media (max-width: 64em) {
  .single .col-full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .single .col-full::after {
      clear: both;
      content: "";
      display: table; } }
@media (max-width: 50em) {
  .single .col-full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    .single .col-full::after {
      clear: both;
      content: "";
      display: table; } }
.single .column-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .single .column-10:last-child {
    margin-right: 0; }
  @media (min-width: 51em) and (max-width: 64em) {
    .single .column-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      margin-right: 0; }
      .single .column-10:last-child {
        margin-right: 0; } }
  @media (min-width: 31em) and (max-width: 50em) {
    .single .column-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      margin-right: 0; }
      .single .column-10:last-child {
        margin-right: 0; } }
  @media (max-width: 31em) {
    .single .column-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      margin-right: 0;
      padding: 0; }
      .single .column-10:last-child {
        margin-right: 0; } }

.post-navigation {
  display: table;
  overflow: auto;
  padding-top: 1.04167rem;
  text-align: center;
  width: 100%; }

.nav-previous {
  display: inline-block;
  padding: 0 2em;
  text-align: right;
  text-align: right;
  /*    @media (max-width: $small-screen) {
          @include span-columns(12);
          @include omega();
      }*/ }

.nav-next {
  display: inline-block;
  padding: 0 2em;
  text-align: right;
  /*    @include span-columns(6);
      @media (max-width: $small-screen) {
          @include span-columns(12);
          @include omega();
      }*/
  position: relative; }
  @media (min-width: 51em) {
    .nav-next a {
      /*            &:before {
                      content: "|";
                      left: -1em;
                      position: absolute;
                      color: $body-font-color;
                  }*/ } }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 1em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 1em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #797b7f;
  font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 2;
  font-weight: 300; }

h1 {
  font-family: "Roboto Slab", Arial, serif;
  font-size: 2.875em;
  font-weight: 500;
  line-height: 2.625em;
  margin: 0.1212em 0 0.2727em; }

h2 {
  font-family: "Roboto Slab", Arial, serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 3rem;
  margin: 0.037em 0 0.3333em; }

h3 {
  font-family: "Roboto Slab", Arial, serif;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 0.4285em; }

h4 {
  font-family: "Roboto Slab", Arial, serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
  margin: 1em 0 0.6667em; }

h5 {
  font-family: "Roboto Slab", Arial, serif;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 0.5625em; }

h6 {
  font-family: "Roboto Slab", Arial, serif;
  font-size: 0.625em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 0.6428em; }

p {
  font-size: 1.5em;
  line-height: 2.5rem;
  margin: 0 0 1em; }

a {
  color: #008480;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #006360; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 2em 0; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

h2.section-header {
  text-align: center;
  margin: 0 auto 2.5rem;
  font-weight: 400;
  font-family: "Roboto Slab", Arial, serif;
  font-size: 2em; }

h2.section-subheader {
  font-weight: 300;
  max-width: 860px;
  margin: 0px auto 3.750rem;
  line-height: 1.35; }

header.navigation {
  border: none;
  border-width: 0 0 4px;
  width: 100%; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999;
    max-width: 87.5em;
    margin: 0px auto;
    padding: 0 2em; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    @media (max-width: 64em) {
      header.navigation .navigation-wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
  header.navigation .logo {
    float: left; }
    header.navigation .logo img {
      vertical-align: middle; }
  header.navigation .navigation-menu-button {
    color: #565759;
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 80em) {
      header.navigation .navigation-menu-button {
        padding-right: 1em; } }
    @media screen and (min-width: 80em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: #171818; }
  @media (max-width: 64em) {
    header.navigation nav {
      clear: both;
      margin: 0 -1.5em; } }
  @media screen and (min-width: 80em) {
    header.navigation nav {
      float: right;
      z-index: 9999999; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block;
      border-top: 4px solid #6a52a3; }
    @media screen and (min-width: 80em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.menu-item.current_page_item > a {
    font-weight: 600;
    color: #565759; }
  header.navigation ul li.nav-link, header.navigation ul li.menu-item {
    background: #797b7f;
    display: block;
    line-height: 40px;
    overflow: hidden;
    text-align: left;
    width: 100%;
    z-index: 9999;
    border-bottom: 2px solid #ffffff; }
    @media (max-width: 64em) {
      header.navigation ul li.nav-link, header.navigation ul li.menu-item {
        padding-left: 1.5em; } }
    @media screen and (min-width: 80em) {
      header.navigation ul li.nav-link, header.navigation ul li.menu-item {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto;
        border-bottom: none;
        padding-left: 1em;
        padding-right: 1em; } }
    header.navigation ul li.nav-link:last-child, header.navigation ul li.menu-item:last-child {
      border: none; }
    header.navigation ul li.nav-link a, header.navigation ul li.menu-item a {
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
      font-size: 0.9375em; }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover, header.navigation ul li.menu-item a:focus, header.navigation ul li.menu-item a:hover {
        color: #171818; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 80em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: #565759;
      content: "\25BE"; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 80em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 80em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 80em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 80em) {
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 80em) {
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 80em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 80em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #f7f7f7;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 80em) {
          header.navigation ul.submenu li a {
            background-color: #ffffff;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 80em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%; }
    header.navigation .search-bar form {
      position: relative; }
      header.navigation .search-bar form input[type=search] {
        background: white;
        border: 1px solid #f2f2f2;
        border-radius: 40px;
        box-sizing: border-box;
        color: #565759;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 80em) {
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      header.navigation .search-bar form button[type=submit] {
        background: white;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 80em) {
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        header.navigation .search-bar input {
          box-sizing: border-box;
          display: block; } }

/*.admin-bar header.navigation.banner {
    top: 30px;
}*/
.navigation.banner {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 5555; }
  @media (min-width: 65em) {
    .navigation.banner nav {
      min-height: 120px; } }
  @media (max-width: 64em) {
    .navigation.banner nav {
      min-height: 0; } }
  .navigation.banner .navigation-menu .menu-item a {
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px; }
  .navigation.banner .logo {
    line-height: 60px;
    display: inline-block;
    line-height: 120px; }
    @media (min-width: 51em) {
      .navigation.banner .logo {
        max-width: 400px; } }
    @media (max-width: 50em) {
      .navigation.banner .logo {
        max-width: 275px; } }
  .navigation.banner .navigation-menu-button {
    line-height: 120px !important; }
  .navigation.banner .sm-logo {
    display: none; }
  .navigation.banner .md-logo {
    display: inline-block; }

/*----------------------------------------------------------------------------*\
  Headhesive Specific Styles
/*----------------------------------------------------------------------------*/
/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     clone: 'banner--clone';
 *   }
 * }
 */
header.navigation.banner--clone {
  position: fixed;
  z-index: 8888;
  top: -60px;
  left: 0;
  min-height: 60px;
  background-color: #ffffff; }
  @media (min-width: 65em) {
    header.navigation.banner--clone nav {
      min-height: 60px; } }
  @media (max-width: 64em) {
    header.navigation.banner--clone nav {
      min-height: 0; } }
  header.navigation.banner--clone .navigation-menu .menu-item a {
    color: #797b7f;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0; }
  header.navigation.banner--clone .logo {
    line-height: 60px; }
    @media (min-width: 51em) {
      header.navigation.banner--clone .logo {
        max-width: 325px; } }
    @media (max-width: 50em) {
      header.navigation.banner--clone .logo {
        max-width: 250px; } }
  header.navigation.banner--clone .md-logo {
    display: none; }
  header.navigation.banner--clone .sm-logo {
    display: inline-block; }

/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
/*.admin-bar .navigation.banner--stick {
    top: 30px;
}*/
.admin-bar header.navigation.banner--stick {
  top: 30px;
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s; }

header.navigation.banner--stick {
  top: 0;
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s; }

/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     unstick: 'banner--unstick';
 *   }
 * }
 */
.banner--unstick {
  /* Not required to use, but could be useful to have */
  display: none; }

footer.site-footer {
  background-color: #ffffff; }
footer .site-info {
  text-align: center;
  padding: 1.875em 0;
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  footer .site-info::after {
    clear: both;
    content: "";
    display: table; }
footer .footer-menu {
  list-style: none;
  padding: 0;
  display: table; }
  @media (min-width: 51em) {
    footer .footer-menu {
      margin: 0px auto; } }
  footer .footer-menu li {
    position: relative; }
    footer .footer-menu li:first-child::before {
      content: ""; }
    @media (min-width: 51em) {
      footer .footer-menu li {
        display: inline-block; } }
    @media (max-width: 50em) {
      footer .footer-menu li {
        display: block;
        text-align: left; } }
    footer .footer-menu li a {
      padding: 0 1em;
      color: #797b7f;
      font-size: 0.9375em;
      font-weight: 300;
      line-height: 42px;
      text-transform: uppercase; }
  footer .footer-menu li.current_page_item > a {
    color: #565759;
    font-weight: 400; }
footer .copyright {
  font-size: 0.75em;
  color: #ffffff;
  background-color: #565759;
  width: 100%; }
  footer .copyright .copyright-inner {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 87.5rem; }

.site-footer .menu-main-nav-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .site-footer .menu-main-nav-container:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .site-footer .menu-main-nav-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0;
      margin-left: 0%; }
      .site-footer .menu-main-nav-container:last-child {
        margin-right: 0; } }
.site-footer .footer-secondary-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .site-footer .footer-secondary-links:last-child {
    margin-right: 0; }
  @media (max-width: 50em) {
    .site-footer .footer-secondary-links {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0; }
      .site-footer .footer-secondary-links:last-child {
        margin-right: 0; } }

.social-links-list {
  display: table;
  float: right; }
  .social-links-list .social-link-item {
    display: inline-block;
    margin-right: 0.75rem; }
    .social-links-list .social-link-item:last-child {
      margin-right: 0; }
    .social-links-list .social-link-item a {
      display: block;
      background-color: #A0A3AA;
      border-radius: 100%;
      color: #fff;
      font-size: 20px;
      line-height: 40px;
      list-style: outside none none;
      text-align: center;
      transition: background-color 0.5s ease 0s;
      width: 40px;
      height: 40px; }
      .social-links-list .social-link-item a:hover {
        background-color: #e3e4e6;
        color: #fff;
        opacity: 1;
        transition: color 0.5s ease 0s; }

/***************************************************
 * 
 * scroll-to-top
 *
 ***************************************************/
.scroll-to-top {
  background: #797b7f;
  color: #FFF;
  bottom: 5%;
  cursor: pointer;
  display: none;
  height: 3rem;
  position: fixed;
  right: 2%;
  z-index: 999;
  font-size: 1em;
  text-align: center;
  width: 3rem;
  border-radius: 0;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear; }
  .scroll-to-top:hover {
    background: #3b3c3e;
    opacity: .8; }
  .scroll-to-top .fa-angle-up {
    display: block;
    font-size: 2em;
    font-weight: 600;
    line-height: 43px; }

.sidebar .widget {
  margin-bottom: 3em; }
  .sidebar .widget:last-child {
    margin-bottom: 0; }

.sidebar .widget > ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.sidebar .widget-area .widget {
  margin-bottom: 4rem; }

.entry-content {
  /*    > h1 {
          color: $tangerine;
      } 
      > h2 {
          color: $midnight;
      }
      > h3 {
          color: $tangerine;
          margin-bottom: 22px;
          margin-top: 40px;
      }
      > h4 {
          color: $rooster_grey_dark;
          margin-top: 40px;
      }
      > h5 {
          color: $rooster_grey_dark;
      }
      a {
          font-weight: 400;
      }*/ }
  .entry-content > h2 {
    margin-bottom: 3.75rem; }
  .entry-content > p:last-child {
    margin-bottom: 0; }

.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0; }

.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em; }

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0; }
blockquote.aligncenter {
  margin-bottom: 1.473684211em; }
blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em; }
blockquote p, blockquote footer {
  color: #777;
  font-weight: 500; }

/**
 * 12.1 - Captions
 */
.wp-caption {
  margin-bottom: 1.75em;
  max-width: 100%;
  width: 100% !important; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
  width: 100%;
  height: auto; }

.wp-caption .wp-caption-text {
  color: #797b7f;
  font-size: 1em;
  font-size: 0.875em;
  font-style: italic;
  line-height: 1.6153846154;
  padding-top: 0.5384615385em;
  text-align: center; }

.blog h1.page-title {
  margin-bottom: 3.125rem; }
.blog .post-list .post {
  margin-bottom: 3.125rem;
  overflow: auto; }
  .blog .post-list .post .entry-meta {
    margin-top: 1.5625rem; }
  .blog .post-list .post:last-child {
    margin-bottom: 0; }

@media (min-width: 65em) {
  .contact-cta {
    padding-top: 5rem;
    padding-bottom: 6.25rem; } }
@media (max-width: 64em) {
  .contact-cta {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem; } }

@media (min-width: 65em) {
  .home .case-studies {
    padding-top: 6.25rem;
    padding-bottom: 7.5rem; } }
@media (max-width: 64em) {
  .home .case-studies {
    padding-top: 3.75rem;
    padding-bottom: 6.25rem; } }
@media (min-width: 65em) {
  .home .case-studies .featured-icon {
    margin-bottom: 3.125rem; } }
@media (max-width: 64em) {
  .home .case-studies .featured-icon {
    margin-bottom: 2.5rem; } }
.home .case-studies .featured-icon > img {
  vertical-align: middle; }
.home .case-studies .content-box-heading {
  color: #565759;
  font-size: 2em;
  margin-bottom: 1.88253rem; }
.home .case-studies .content-container {
  margin-bottom: 0.78125rem; }
  .home .case-studies .content-container p {
    font-size: 1.375em;
    line-height: 2rem;
    margin: 0 auto;
    max-width: 275px; }
.home .case-studies a.cs-link {
  font-size: 1.375em;
  line-height: 6.25rem; }
@media (max-width: 64em) {
  .home .case-studies .column-4 {
    margin-bottom: 3.75rem; } }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 5:49:11 PM
    Author     : mattpeternell
*/
@media (min-width: 65em) {
  .flex-content {
    padding-top: 6.25rem;
    padding-bottom: 7.8125rem; } }
@media (max-width: 64em) {
  .flex-content {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem; } }

.wysiwyg-row {
  padding-bottom: 6.25rem; }
  @media (min-width: 65em) {
    .wysiwyg-row {
      padding-bottom: 6.25rem; } }
  @media (max-width: 64em) {
    .wysiwyg-row {
      padding-bottom: 0; } }
  .wysiwyg-row:last-child {
    padding-bottom: 0; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 3:15:06 PM
    Author     : mattpeternell
*/
.intro-section .icon:before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: 0;
  height: 100px;
  width: 100px; }
  @media (min-width: 65em) {
    .intro-section .icon:before {
      margin-bottom: 3.75rem; } }
  @media (max-width: 64em) {
    .intro-section .icon:before {
      margin-bottom: 2.5rem; } }
.intro-section .column-10 {
  position: relative; }
@media (min-width: 65em) {
  .intro-section {
    padding-top: 6.25rem;
    padding-bottom: 10rem; } }
@media (max-width: 64em) {
  .intro-section {
    padding-top: 3.75rem;
    padding-bottom: 6.25rem; } }

.parallax-window-2 {
  max-height: 760px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  .parallax-window-2 .caption {
    position: absolute;
    z-index: 999; }
    @media (min-width: 51em) {
      .parallax-window-2 .caption {
        left: 0;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%); } }
    @media (max-width: 50em) {
      .parallax-window-2 .caption {
        left: 50%;
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 30em;
        padding-left: 1.5em;
        padding-right: 1.5em; } }
    .parallax-window-2 .caption h1,
    .parallax-window-2 .caption .h1 {
      color: #ffffff;
      margin: 0 auto;
      max-width: 680px;
      font-family: "Roboto Slab", Arial, serif;
      font-weight: 500; }
      @media (min-width: 65em) {
        .parallax-window-2 .caption h1,
        .parallax-window-2 .caption .h1 {
          font-size: 4.5em;
          line-height: 6.25rem; } }
      @media (min-width: 31em) and (max-width: 980px) {
        .parallax-window-2 .caption h1,
        .parallax-window-2 .caption .h1 {
          font-size: 4em; } }
      @media (max-width: 30em) {
        .parallax-window-2 .caption h1,
        .parallax-window-2 .caption .h1 {
          font-size: 2.5em; } }
    .parallax-window-2 .caption h2,
    .parallax-window-2 .caption .h2 {
      color: #ffffff;
      margin: 0 0 2.500rem;
      font-family: "Roboto Slab", Arial, serif;
      font-weight: 500; }
      @media (min-width: 65em) {
        .parallax-window-2 .caption h2,
        .parallax-window-2 .caption .h2 {
          font-size: 5em; } }
      @media (min-width: 31em) and (max-width: 64em) {
        .parallax-window-2 .caption h2,
        .parallax-window-2 .caption .h2 {
          font-size: 4em; } }
      @media (max-width: 30em) {
        .parallax-window-2 .caption h2,
        .parallax-window-2 .caption .h2 {
          font-size: 2.5em; } }
    .parallax-window-2 .caption p {
      font-family: "Roboto Slab", Arial, serif;
      font-weight: 200;
      margin-bottom: 30px;
      color: #6a52a3;
      margin: 0; }
      @media (min-width: 65em) {
        .parallax-window-2 .caption p {
          font-size: 2em; } }
      @media (min-width: 31em) and (max-width: 64em) {
        .parallax-window-2 .caption p {
          font-size: 1.5em; } }
      @media (max-width: 30em) {
        .parallax-window-2 .caption p {
          line-height: 1.21212;
          font-size: 1.25em; } }

.parallax-static-content {
  color: #9a9a8a;
  padding: 8em 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9; }

.parallax-background {
  background-position: top;
  background-color: #797b7f;
  height: 1080px;
  left: 0;
  position: absolute;
  top: -760px;
  width: 100%; }
  @media (min-width: 65em) {
    .parallax-background {
      background-size: cover; } }
  @media (max-width: 64em) {
    .parallax-background {
      background-size: 125%; } }
  @media (max-width: 30em) {
    .parallax-background {
      background-size: 250%; } }

.short .parallax-background {
  top: -380px; }

.partners {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .partners .section-header {
    color: #ffffff;
    margin-bottom: 2.5rem; }

.partners .icon-list {
  margin: 0;
  padding: 0; }
  .partners .icon-list > li {
    list-style: none;
    text-align: center;
    display: inline-block; }
    @media (max-width: 51em) {
      .partners .icon-list > li {
        margin: 0 10px 0px; } }
    @media (min-width: 50em) {
      .partners .icon-list > li {
        margin: 0 15px 0px; } }
  .partners .icon-list a:hover {
    opacity: 0.5;
    transition: opacity 150ms ease; }
  .partners .icon-list img {
    vertical-align: middle; }

.holcam-blog {
  padding-top: 6.25rem;
  padding-bottom: 4.375rem; }
  .holcam-blog .blog-tile .title {
    margin: 2.500rem 0 2.500rem; }
  .holcam-blog .blog-tile .entry-header a {
    color: #6a52a3;
    font-weight: 400;
    font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif; }
    .holcam-blog .blog-tile .entry-header a:hover {
      color: #b1a4d1; }

.search-results .panorama-search article {
  margin-bottom: 50px;
  overflow: auto;
  width: 100%; }

/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.clearfix:before {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.edit {
  margin-top: 15px !important; }

/*********************
* Theme color options
**********************/
.seafoam .intro-section {
  background-color: #008480;
  color: #fff; }

.forest .intro-section {
  background-color: #468c46;
  color: #fff; }

.eggplant .intro-section {
  background-color: #6a52a3;
  color: #fff; }

.honey .intro-section {
  background-color: #da8719;
  color: #fff; }

.concrete .intro-section {
  background-color: #565759;
  color: #fff; }

.aluminium {
  background-color: #797b7f; }
  .aluminium .intro-section {
    background-color: #797b7f;
    color: #fff; }

.smoke {
  background-color: #f3f3f3; }
  .smoke .intro-section {
    background-color: #f3f3f3;
    color: #fff; }

.ocean .intro-section {
  background-color: #1680A5;
  color: #fff; }

.page-template-contact-template.forest .flex-content {
  background-color: #468c46; }

.svg-thumbnail {
  border: 0 none;
  height: auto;
  max-width: 200px;
  width: 100%; }

/*# sourceMappingURL=theme-style.css.map */
